.indexSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 1000px;
  -webkit-box-align: center;
  -webkit-box-align: center;
  min-height: 100vh;
  margin: 0px auto;
  padding: 150px 0px;
}

.one {
  color: rgb(100, 255, 218);
  font-weight: normal;
  margin: 0px 0px 20px 3px;
  font-size: 18px;
}

.two {
  font-size: 70px;
  font-weight: 600;
  line-height: 1.1;
  color: rgb(204, 214, 246);
}

.three{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 600;
    color: rgb(136, 146, 176);
    margin: 0px 0px 10px;
}

.indexText{
    margin-top: 25px;
    width: 100%;
    max-width: 500px;
    display: block;
}

.indexText p{
    margin: 0px 0px 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 20px;
    color: rgb(136, 146, 176);
    line-height: 1.5;
}

.buttonIndex {
    color: rgb(100, 255, 218);
    background-color: transparent;
    line-height: 1;
    cursor: pointer;
    border: 1px solid rgb(100, 255, 218);
    border-radius: 3px;
    padding: 1.55rem 3.5rem;
    font-size: 18px;
  }

.buttonIndex:hover{
    background-color: rgba(100, 255, 218,0.1);
    transition: 0.4s ease-in-out;
}


